
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Train No</th>
            <th class="th-sm">SEQ</th>
            <th class="th-sm">Train Name</th>
            <th class="th-sm">Station Code</th>
            <th class="th-sm">Station Name</th>
            <th class="th-sm">Distance</th>
            <th class="th-sm">Source Station Code</th>
            <th class="th-sm">Destination Station Code</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
